*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}
.login{
    color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bem-vindo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #8930E8;
}
.ads{
    width: 250px;
    height: 70px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bem-vindo p {
    margin-left: 10px;
    margin-top: 1px;
}
.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: none;
    border-radius: 8px;
    border: 1px solid #8930E8;
}
.form-login form {
    display: flex;
    flex-direction: column;
}
.input-text {
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #8930E8;
    padding: 5px;
    width: 250px;
    background-color: #f7fffc00;
    color: white;
}
label {
    margin-left: 12px;
}

.registrar{
    color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ads-upload{
    width: 250px;
    height: 70px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ads-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload {
    display: none; 
}

.upload-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #777;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    border: 2px solid #8930e8;
}

.upload-circle:hover {
    background-color: #ccc;
}
.checkbox{
    display: flex;
    width: 250px;
    margin: 0px 10px;
    padding: 5px;
    width: 250px;
}
.btn-enviar{
    width: 50%;
    padding: 5px;
    margin: 10px;
    align-self: center;
}
#animacao {
    position: absolute;
    top: 178px;
    left: 0;
    width: 100%;
    z-index: -1;        
    pointer-events: none; 
}

